.topheading{
    color: #219ebc;
    text-align: center;
    margin-top: 1vh;
    font-size: 4vh;
    font-weight: 500;
}
.tasklog_topheading{
    display: flex;
    justify-content: space-between;
}
.tasklog_topheading .td-filter{
    margin-top: 5vh;
    margin-right: 5vh;
}
.personal-infoo img{
    border-radius: 60%;
}
.personal-infoo h1{
    text-align: center;
    color: #219ebc;
    font-size: 4vh;
    font-weight: 600;
    margin-top:3vh;
}

.personal-infoo h2{
    display: block;
    text-align: center;
    margin: 3vh;
    margin-top: 3vh;
}
.user-cardss h5{
    text-align: center;
    margin-top: 3vh;
    color: #219ebc;
    font-weight: 500;
}
.user-cardss h5:hover{
    color: #ffb703;
    cursor: pointer;
}
.td-filter {
    display: flex;
    gap: 2vh;
    margin-top: 2vh;
    margin-left: 5vh;
    margin-bottom: 2vh;
}
.td-filter input{
    width: 20vh;
    padding: 5px;
    border-radius: 10px;
    border: 1.5px solid;
    outline: none;
}
.td-filter button{
    padding: 5px;
    width: 10vh;
    background-color: #219ebc;
    border-radius: 1vh;
    color: white;
}
.td-filter button:hover{
  cursor: pointer;
  background-color: #ffb703;
}
.td-filter label{
    margin-top: 1.2vh;
}