.topheading{
    color: #219ebc;
    text-align: center;
    margin-top: 1vh;
    font-size: 4vh;
    font-weight: 500;
}
.personal-infoo img{
    border-radius: 60%;
}
.personal-infoo h1{
    text-align: center;
    color: #219ebc;
    font-size: 4vh;
    font-weight: 600;
    margin-top:3vh;
}

.personal-infoo h2{
    display: block;
    text-align: center;
    margin: 3vh;
    margin-top: 3vh;
}
.user-cardss h5{
    text-align: center;
    margin-top: 3vh;
    color: #219ebc;
    font-weight: 500;
}
.user-cardss h5:hover{
    color: #ffb703;
    cursor: pointer;
}