.fp-container{
    display: flex;
}   
.title {
    color: #023047;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 3px;
}

.fp-items button{
    margin-top: 3vh;
    background-color: #219ebc;
    color: white;
    box-sizing: border-box;
    padding: 1vh;
    width: 18vh;
    border-radius: 1vh;

}
.but:hover{
    background-color: #ffb703;
}
.fp-container img{
    margin-top: 8vh;
    width: 100vh;
    height: 80vh;
}
.fp-items p{
    width: 69vh;
}
.fp-items{
    width: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
    margin-left: 10vh;
}

@media screen and (max-width: 600px) {
    .title{
        font-size: 35px;
        font-weight: 800;
    }
    .fp-container img{
        width: 50vh;
        height: 40vh;
    }
    .fp-items{
        width: auto;
        display: grid;
        place-items: center;
        margin-left: 0vh;
        margin-top: 10vh;
    }
    .fp-container{
        display: grid;
        place-items: center;
    }
    .fp-items p{
        width: 50vh;
        text-align: center;
    }
}