.admin-card-container{
    margin-left: 2vh;
}
.admin-cards {
    margin-top: 2vh;
    width: 40vh;
    height: 100%    ;
    background-color:  rgb(244, 244, 244);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 2vh;
}
.fa-icon {
   display: flex;
   justify-content: center;
   padding-top: 4vh;
   color: #ffb703;
}
.card-items h1{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    color: #023047;
    font-size: 4vh;
    font-weight: 600;
}
.card-items h2 {
    display: flex;
    justify-content: center;
    margin-top: 0.5vh;
    font-size: 2vh;
}
.card-items h3 {
    text-align: center;
    margin-top: 1vh;
    font-size: 2vh;
    color: #219ebc;
}
.card-items h3:hover {
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .admin-cards {
        margin-left: 13vh;
        width: 26vh;
        height: 23vh;
        background-color:  rgb(244, 244, 244);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        border-radius: 2vh;
    }
    .card-items h1{
        margin-top: 1vh;
        font-size: 2.6vh;
        font-weight: 600;
    }
    .card-items h2 {
        font-size: 1.7vh;
    }
    .card-items h3 {    
        font-size: 1.7vh;
        color: #219ebc;
    }
    .fa-icon {
        padding-top: 2vh;
     }
}