.register-container{
  display: grid;
  width: 100%;
  height: 100vh;
  place-items: center;
}
.register-form {
  margin-top: 5vh;
  height: 95vh;
  width: 60vh;
  background-color: rgb(244, 244, 244);
  border-radius: 5vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 0px 0px;
}
.register-form h1{
  text-align: center;
  padding-top: 2vh;
  color: #219ebc;
  font-size: 3vh;
  font-weight: 500;
}
.register-field{
  display: grid;
  place-items: center;
  margin-top: 5vh;
}
.register-field input{
  width: 40vh;
  padding: 1vh;
  display: inline-block;
  border: none;
  border-radius: 10px;
  margin: 14px;
}
.register-field button{
  width: 20vh;
  background-color: #219ebc;
  color: white;
  padding: 1vh;
  border-radius: 5vh;
  margin-top: 2vh;
}
.register-field button:hover{
  background-color: #ffb703;
}
.register-field label{
  font-weight: 400;
}
.register-field span{
  margin-top: 1vh;
  font-weight: 300;
  color: #219ebc;
}
.register-field span:hover{
  cursor: pointer;
  color: #ffb703;
}
.uploadimg{
  display: grid;
  place-items: center;
}
@media screen and (max-width: 600px) {
  .register-container{
    height: 100%;
  }
  .register-form {
    height: 80vh;
    width: 40vh;
  }
  .register-field input{
    width: 30vh;
    padding: 0.9vh;
    margin: 14px;
  }
  .register-field button{
    width: 12vh;
    padding: 1vh;
    margin-top: 2vh;
  }
}