.reg-container{
  display: grid;
  height: 110vh;
  width: auto;
  place-items: center;
  object-fit: cover;
}
.reg-card{
  min-height: 100vh;
  border-radius: 10px;
  max-height: 135vh;
  background-color: rgb(244, 244, 244);
  margin-top: 5vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 32px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
}
.reg{
  display: flex;
}
.reg h1{
  font-size: 3.6vh;
  font-weight: 700;
  margin-left: 4vh;
  padding-top: 2vh;
  color: #219ebc;
}
.reg span{
  font-size: 1.5vh;
  margin-left: 4vh;
  color: #959595;
  font-weight: 400;
}
.reg-inputs{
  display: grid;
  margin-top: 1.3vh;
  margin-left: 4vh;
  gap: 1vh;
}

.reg-inputs input{
  padding: 1vh;
  margin-right: 2vh;
  width: 60vh;
  border: 1px solid #d3d3d3;
  border-radius: 1vh;
}
.reg-inputs input:focus{
  border: 0.3px solid #094fcf;
}
.reg-inputs button{
  margin-top: 1vh;
  padding: 1.3vh;
  background-color: #219ebc;
  color: #fff;
  width: 60vh;
  border-radius: 5vh;
}
.reg-inputs button:hover{
  background-color: #ffb703;
}
.error{
  margin-top: 1px;
  color: #ed4337;
  font-size: 13px;
}
.reg-inputs .input-error {
  border-color: red;
  border: 1.5px solid red;
}




